.head{
    height: 50vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}
h1{
    font-size: 60px;
  
    color: white;
}
h4{
    margin-top: 0px;
    color: rgb(192, 188, 188);
}