ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around; 
    font-size: large;
    
}
.img{
    width: 120%;
}
.container-fluid{

    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
}